{{- if not .Values.pgconn.existingSecret.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "pgrwl.backupFullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "pgrwl.backupLabels" . | nindent 4 }}
type: Opaque
data:
  {{- range $k, $v := .Values.pgconn.values }}
  {{ $k }}: {{ $v | b64enc | quote }}
  {{- end }}
{{- end }}
