name: CI

on:
  push:
    branches:
      - "master"
      - "release/**"
  pull_request:
    branches:
      - "master"
      - "release/**"

jobs:
  ci_job:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: go-cache-paths
        run: |
          echo "go-build=$(go env GOCACHE)" >> "$GITHUB_OUTPUT"
          echo "go-mod=$(go env GOMODCACHE)" >> "$GITHUB_OUTPUT"

      - name: Go Build Cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.go-cache-paths.outputs.go-build }}
          key: ${{ runner.os }}-go-build-${{ hashFiles('**/go.sum') }}-linux-amd64

      - name: Go Mod Cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}-linux-amd64

      - name: Ensure gofmt
        run: test -z "$(gofmt -s -d .)"
        shell: bash

      - name: Ensure go.mod is already tidied
        run: go mod tidy && git diff --no-patch --exit-code
        shell: bash

      - name: Run unit tests
        run: go test -v -race ./...
        shell: bash

      # Uncomment these when you're ready to use GoReleaser
      #
      # - name: Install GoReleaser
      #   uses: goreleaser/goreleaser-action@v6
      #   with:
      #     install-only: true
      #
      # - name: Run GoReleaser (snapshot)
      #   run: make snapshot
